<a href="https://colab.research.google.com/github/CodingDuckmx/DS-Unit-2-Kaggle-Challenge/blob/master/module2-random-forests/Jesus_CaballeroMedrano_LS_DS_222_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 2, Module 2*

---

# Random Forests

## Assignment
- [X] Read [“Adopting a Hypothesis-Driven Workflow”](https://outline.com/5S5tsB), a blog post by a Lambda DS student about the Tanzania Waterpumps challenge.
- [ ] Continue to participate in our Kaggle challenge.
- [ ] Define a function to wrangle train, validate, and test sets in the same way. Clean outliers and engineer features.
- [X] Try Ordinal Encoding.
- [X] Try a Random Forest Classifier.
- [ ] Submit your predictions to our Kaggle competition. (Go to our Kaggle InClass competition webpage. Use the blue **Submit Predictions** button to upload your CSV file. Or you can use the Kaggle API to submit your predictions.)
- [ ] Commit your notebook to your fork of the GitHub repo.

## Stretch Goals

### Doing
- [ ] Add your own stretch goal(s) !
- [ ] Do more exploratory data analysis, data cleaning, feature engineering, and feature selection.
- [ ] Try other [categorical encodings](https://contrib.scikit-learn.org/categorical-encoding/).
- [ ] Get and plot your feature importances.
- [ ] Make visualizations and share on Slack.

### Reading

Top recommendations in _**bold italic:**_

#### Decision Trees
- A Visual Introduction to Machine Learning, [Part 1: A Decision Tree](http://www.r2d3.us/visual-intro-to-machine-learning-part-1/),  and _**[Part 2: Bias and Variance](http://www.r2d3.us/visual-intro-to-machine-learning-part-2/)**_
- [Decision Trees: Advantages & Disadvantages](https://christophm.github.io/interpretable-ml-book/tree.html#advantages-2)
- [How a Russian mathematician constructed a decision tree — by hand — to solve a medical problem](http://fastml.com/how-a-russian-mathematician-constructed-a-decision-tree-by-hand-to-solve-a-medical-problem/)
- [How decision trees work](https://brohrer.github.io/how_decision_trees_work.html)
- [Let’s Write a Decision Tree Classifier from Scratch](https://www.youtube.com/watch?v=LDRbO9a6XPU)

#### Random Forests
- [_An Introduction to Statistical Learning_](http://www-bcf.usc.edu/~gareth/ISL/), Chapter 8: Tree-Based Methods
- [Coloring with Random Forests](http://structuringtheunstructured.blogspot.com/2017/11/coloring-with-random-forests.html)
- _**[Random Forests for Complete Beginners: The definitive guide to Random Forests and Decision Trees](https://victorzhou.com/blog/intro-to-random-forests/)**_

#### Categorical encoding for trees
- [Are categorical variables getting lost in your random forests?](https://roamanalytics.com/2016/10/28/are-categorical-variables-getting-lost-in-your-random-forests/)
- [Beyond One-Hot: An Exploration of Categorical Variables](http://www.willmcginnis.com/2015/11/29/beyond-one-hot-an-exploration-of-categorical-variables/)
- _**[Categorical Features and Encoding in Decision Trees](https://medium.com/data-design/visiting-categorical-features-and-encoding-in-decision-trees-53400fa65931)**_
- _**[Coursera — How to Win a Data Science Competition: Learn from Top Kagglers — Concept of mean encoding](https://www.coursera.org/lecture/competitive-data-science/concept-of-mean-encoding-b5Gxv)**_
- [Mean (likelihood) encodings: a comprehensive study](https://www.kaggle.com/vprokopev/mean-likelihood-encodings-a-comprehensive-study)
- [The Mechanics of Machine Learning, Chapter 6: Categorically Speaking](https://mlbook.explained.ai/catvars.html)

#### Imposter Syndrome
- [Effort Shock and Reward Shock (How The Karate Kid Ruined The Modern World)](http://www.tempobook.com/2014/07/09/effort-shock-and-reward-shock/)
- [How to manage impostor syndrome in data science](https://towardsdatascience.com/how-to-manage-impostor-syndrome-in-data-science-ad814809f068)
- ["I am not a real data scientist"](https://brohrer.github.io/imposter_syndrome.html)
- _**[Imposter Syndrome in Data Science](https://caitlinhudon.com/2018/01/19/imposter-syndrome-in-data-science/)**_


### More Categorical Encodings

**1.** The article **[Categorical Features and Encoding in Decision Trees](https://medium.com/data-design/visiting-categorical-features-and-encoding-in-decision-trees-53400fa65931)** mentions 4 encodings:

- **"Categorical Encoding":** This means using the raw categorical values as-is, not encoded. Scikit-learn doesn't support this, but some tree algorithm implementations do. For example, [Catboost](https://catboost.ai/), or R's [rpart](https://cran.r-project.org/web/packages/rpart/index.html) package.
- **Numeric Encoding:** Synonymous with Label Encoding, or "Ordinal" Encoding with random order. We can use [category_encoders.OrdinalEncoder](https://contrib.scikit-learn.org/categorical-encoding/ordinal.html).
- **One-Hot Encoding:** We can use [category_encoders.OneHotEncoder](http://contrib.scikit-learn.org/categorical-encoding/onehot.html).
- **Binary Encoding:** We can use [category_encoders.BinaryEncoder](http://contrib.scikit-learn.org/categorical-encoding/binary.html).


**2.** The short video 
**[Coursera — How to Win a Data Science Competition: Learn from Top Kagglers — Concept of mean encoding](https://www.coursera.org/lecture/competitive-data-science/concept-of-mean-encoding-b5Gxv)** introduces an interesting idea: use both X _and_ y to encode categoricals.

Category Encoders has multiple implementations of this general concept:

- [CatBoost Encoder](http://contrib.scikit-learn.org/categorical-encoding/catboost.html)
- [James-Stein Encoder](http://contrib.scikit-learn.org/categorical-encoding/jamesstein.html)
- [Leave One Out](http://contrib.scikit-learn.org/categorical-encoding/leaveoneout.html)
- [M-estimate](http://contrib.scikit-learn.org/categorical-encoding/mestimate.html)
- [Target Encoder](http://contrib.scikit-learn.org/categorical-encoding/targetencoder.html)
- [Weight of Evidence](http://contrib.scikit-learn.org/categorical-encoding/woe.html)

Category Encoder's mean encoding implementations work for regression problems or binary classification problems. 

For multi-class classification problems, you will need to temporarily reformulate it as binary classification. For example:

```python
encoder = ce.TargetEncoder(min_samples_leaf=..., smoothing=...) # Both parameters > 1 to avoid overfitting
X_train_encoded = encoder.fit_transform(X_train, y_train=='functional')
X_val_encoded = encoder.transform(X_train, y_val=='functional')
```

For this reason, mean encoding won't work well within pipelines for multi-class classification problems.

**3.** The **[dirty_cat](https://dirty-cat.github.io/stable/)** library has a Target Encoder implementation that works with multi-class classification.

```python
 dirty_cat.TargetEncoder(clf_type='multiclass-clf')
```
It also implements an interesting idea called ["Similarity Encoder" for dirty categories](https://www.slideshare.net/GaelVaroquaux/machine-learning-on-non-curated-data-154905090).

However, it seems like dirty_cat doesn't handle missing values or unknown categories as well as category_encoders does. And you may need to use it with one column at a time, instead of with your whole dataframe.

**4. [Embeddings](https://www.kaggle.com/learn/embeddings)** can work well with sparse / high cardinality categoricals.

_**I hope it’s not too frustrating or confusing that there’s not one “canonical” way to encode categoricals. It’s an active area of research and experimentation! Maybe you can make your own contributions!**_

### Setup

You can work locally (follow the [local setup instructions](https://lambdaschool.github.io/ds/unit2/local/)) or on Colab (run the code cell below).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Kaggle-Challenge/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split

train = pd.merge(pd.read_csv(DATA_PATH+'waterpumps/train_features.csv'), 
                 pd.read_csv(DATA_PATH+'waterpumps/train_labels.csv'))
test = pd.read_csv(DATA_PATH+'waterpumps/test_features.csv')
sample_submission = pd.read_csv(DATA_PATH+'waterpumps/sample_submission.csv')

train.shape, test.shape

((59400, 41), (14358, 40))

#Import libraries section

In [0]:
import numpy as np
import category_encoders as ce
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
import matplotlib.pyplot as plt

#My Work

In [0]:
#Split train into train & val

train, val = train_test_split(train, train_size=0.80, test_size=0.20, 
                              stratify=train['status_group'], random_state=42)

train.shape, val.shape, test.shape

((47520, 41), (11880, 41), (14358, 40))

In [0]:
display(train.head())

display(val.head())

          id  amount_tsh  ... waterpoint_type_group    status_group
43360  72938         0.0  ...    communal standpipe      functional
7263   65358       500.0  ...    communal standpipe      functional
2486     469        25.0  ...             hand pump      functional
313     1298         0.0  ...                 other  non functional
52726  27001         0.0  ...    communal standpipe      functional

[5 rows x 41 columns]

          id  amount_tsh  ... waterpoint_type_group    status_group
3290   67999         0.0  ...             hand pump      functional
47666   9256      2000.0  ...       improved spring      functional
2538    3168        25.0  ...    communal standpipe      functional
53117  19684         0.0  ...             hand pump  non functional
51817  42303         0.0  ...                 other  non functional

[5 rows x 41 columns]

In [0]:
### Process and some clean data

def wrangle(X):
  """Wrangle train, validate, and test sets in the same way"""

  #Present settingWithCopyWarning
  X = X.copy()

  ### Getting rid of latitude values really near to zero.
  X['latitude'] = X['latitude'].replace(-2e-08,0)

  ### Changing the zeros of some columns to NaN's.
  ### Create a "missing indicator" column because the fact that the value is 
  ### missing may be an indicator.
  cols_with_zeros = ['longitude', 'latitude', 'construction_year']

  for col in cols_with_zeros:
    X[col]  = X[col].replace(0,np.nan)
    X[col + '_MISSING'] = X[col].isnull()

  ### Drop duplicated columns

  duplicates = ['quantity_group', 'payment_type','extraction_type']
  X = X.drop(columns=duplicates)

  #Drop recorded_by (never varies) and id (always varies, random)
  unusable_variance = ['recorded_by','id']
  X = X.drop(columns=unusable_variance)

  #Drop some columns with possible non relevance in the data.
  poss_nonrel = ['funder', 'public_meeting', 'installer', 'permit','wpt_name',
                 'region','lga','scheme_name','district_code','source_type',
                 'num_private','ward']
  X = X.drop(columns=poss_nonrel)

  #Convert date_recorded to datetime
  X['date_recorded'] = pd.to_datetime(X['date_recorded'],infer_datetime_format=True) 

  #Extract components from data_recorded, then drop the original column.
  X['year_recorded'] = X['date_recorded'].dt.year  
  X['month_recorded'] = X['date_recorded'].dt.month  
  X['day_recorded'] = X['date_recorded'].dt.day
  X = X.drop(columns='date_recorded')  

  #Engenieer features: how many years from construction_year to date_recorded
  
  X['years'] = X['year_recorded'] - X['construction_year']
  
  X['years_MISSING'] = X['years'].isnull()

  
  


  ###return the wrangled df
  return X

In [0]:
train = wrangle(train)
val = wrangle(val)
test = wrangle(test)

In [0]:
display(train.describe(exclude='number'))

feat_non_num = train.describe(exclude='number').columns.tolist()

# feat_non_num

                basin subvillage  ... construction_year_MISSING years_MISSING
count           47520      47234  ...                     47520         47520
unique              9      17231  ...                         2             2
top     Lake Victoria    Shuleni  ...                     False         False
freq             8137        420  ...                     31003         31003

[4 rows x 20 columns]

In [0]:
train.describe()

          amount_tsh    gps_height  ...  day_recorded         years
count   47520.000000  47520.000000  ...  47520.000000  31003.000000
mean      321.925261    669.567656  ...     15.625926     15.343289
std      3197.240487    693.005745  ...      8.685898     12.524152
min         0.000000    -63.000000  ...      1.000000     -7.000000
25%         0.000000      0.000000  ...      8.000000      4.000000
50%         0.000000    372.500000  ...     16.000000     13.000000
75%        25.000000   1320.000000  ...     23.000000     25.000000
max    350000.000000   2770.000000  ...     31.000000     53.000000

[8 rows x 11 columns]

In [0]:
train.describe()

          amount_tsh    gps_height  ...  day_recorded         years
count   47520.000000  47520.000000  ...  47520.000000  31003.000000
mean      321.925261    669.567656  ...     15.625926     15.343289
std      3197.240487    693.005745  ...      8.685898     12.524152
min         0.000000    -63.000000  ...      1.000000     -7.000000
25%         0.000000      0.000000  ...      8.000000      4.000000
50%         0.000000    372.500000  ...     16.000000     13.000000
75%        25.000000   1320.000000  ...     23.000000     25.000000
max    350000.000000   2770.000000  ...     31.000000     53.000000

[8 rows x 11 columns]

In [0]:
def erase_outliers(X):

  Y = X.copy()

  Y.drop(columns=['population','gps_height'])

  #Clean Outliers
  Q1 = Y.quantile(0.25)
  Q3 = Y.quantile(0.75)
  IQR = Q3- Q1

  Y = Y[~( (Y< (Q1 - 5.5* IQR)) | (Y>(Q3+5.5 * IQR)) ).any(axis=1)]
  Y['population'] = X['population']
  Y['gps_height'] = X['gps_height']

  return Y

In [0]:
# train = erase_outliers(train)

# train.describe()

In [0]:
### The target is the status_group column

target = 'status_group'

### Get the dataframe with all train columns except the target

train_features = train.drop(columns=target)

features = train_features.columns
features

Index(['amount_tsh', 'gps_height', 'longitude', 'latitude', 'basin',
       'subvillage', 'region_code', 'population', 'scheme_management',
       'construction_year', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'water_quality',
       'quality_group', 'quantity', 'source', 'source_class',
       'waterpoint_type', 'waterpoint_type_group', 'longitude_MISSING',
       'latitude_MISSING', 'construction_year_MISSING', 'year_recorded',
       'month_recorded', 'day_recorded', 'years', 'years_MISSING'],
      dtype='object')

In [0]:
##Arrage data into X features matrix and y target vector.

X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_test = test[features]

In [0]:
%%time

###Pipeline with Ordinal encoder

pipeline = make_pipeline(
    ce.OrdinalEncoder(),
    SimpleImputer(strategy='median'),
    RandomForestClassifier(random_state=0, n_jobs=-1)
)

### fit on the train and score on val

pipeline.fit(X_train,y_train)
print('Validation Accuracy', pipeline.score(X_val,y_val))

Validation Accuracy 0.8031986531986532
CPU times: user 16.5 s, sys: 127 ms, total: 16.6 s
Wall time: 9.02 s

In [0]:
y_pred = pipeline.predict(X_test)

In [0]:
y_pred

array(['non functional', 'functional', 'functional', ..., 'functional',
       'functional', 'non functional'], dtype=object)

###submission file

In [0]:
## Making the submision file

sample_submission = pd.read_csv('sample_submission.csv')
submission = sample_submission.copy()
submission['status_group'] = y_pred
submission.to_csv('jesuscaballeromedrano5.csv', index=False)

In [0]:
from google.colab import files
files.download('jesuscaballeromedrano5.csv')

#Draft

In [0]:


# plt.scatter()